# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.log
*.pid
*.seed
*.pid.lock

# Django
db.sqlite3
*.sqlite3
staticfiles/
static_root/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Other
*.md
.docker