{% extends 'chat/base.html' %}


{% block title %}
Create account | Pulse
{% endblock %}


{% block body_class %}
auth-page
{% endblock %}


{% block content %}

<div class="auth-shell compact-auth">






    <section class="auth-form-side">


        <div class="auth-heading">

            <h1>
                Create your account
            </h1>

        </div>



        <form
            method="post"
            novalidate
        >

            {% csrf_token %}


            {% if form.non_field_errors %}

                <div class="alert error">

                    {% for error in form.non_field_errors %}

                        {{ error }}

                    {% endfor %}

                </div>

            {% endif %}



            {% for field in form %}

                <div class="auth-field">

                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>


                    {{ field }}


                    {% if field.errors %}

                        <div class="field-error">

                            {% for error in field.errors %}

                                <span>
                                    {{ error }}
                                </span>

                            {% endfor %}

                        </div>

                    {% endif %}


                    {% if field.help_text %}

                        <div class="help-text">
                            {{ field.help_text }}
                        </div>

                    {% endif %}

                </div>

            {% endfor %}


            <button
                class="primary-button"
                type="submit"
            >
                Create account
            </button>

        </form>


        <div class="auth-switch">

            Already have an account?

            <a href="{% url 'login' %}">
                Sign in
            </a>

        </div>


    </section>

</div>

{% endblock %}